parameters:
    level: 7
    tmpDir: */var/phpstan/
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
    ignoreErrors:
        - '#PHPDoc tag.+#'
    excludes_analyse:
        - */src/Migrations/*
        - */tests/tmp/*
        - */tests/*/Example*.php
        - */tests/*/console_application_loader.php
        - */tests/*/envelope_all.php
        - */tests/*/header_bag_get.php
        - */tests/*/kernel_interface.php
        - */tests/*/request_get_content.php
        - */tests/*/serializer.php
